##########################################################################
# .terrateam/config.yml
##########################################################################
hooks:
  all:
    pre:
      - type: oidc
        provider: gcp
        service_account: "terrateam@rosy-valor-399401.iam.gserviceaccount.com"
        workload_identity_provider: "projects/56125405118/locations/global/workloadIdentityPools/terrateam-pool/providers/terrateam-provider"
